# IDE e arquivos de configuração
*.iml
.gradle/
.idea/
.DS_Store

# Build
/build/
captures/

# Config local
local.properties
panopoker.keystore

# Caches do Android Studio
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build Nativo e C++
.externalNativeBuild/
.cxx/
